.articles__container {
    width: min(100%, 1440px);
    margin: auto;
    margin-bottom: 2.5rem;
    overflow: hidden;
    padding: 0 80px;

    .articles__content {
        display: flex;
        align-items: flex-start;
        gap: 30px;

        .articles__filter {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 274px;
            height: 217px;
            padding: 0 25px;
            background: #FFFFFF;
            border-radius: 10px;
            box-shadow: 0px 4px 40px 0px #00000012;

            .articles__filter-option {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 50px;
                background-color: #fff;
                font-family: "Open Sans", sans-serif;
                font-size: 12px;
                color: #3f454a;
                font-weight: 400;
                line-height: 23px;
                text-transform: uppercase;

                &:hover {
                    color: #D8AD3D;
                }
            }

            .articles__filter-option--selected {
                color: #D8AD3D;
                font-weight: bold;
            }
        }

        .articles__list {
            display: grid;
            grid-template-columns: repeat(3, 270px);
            row-gap: 36px;
            column-gap: 30px;
            max-width: 1000px;
            width: 100%;

            .article__container {
                min-height: 438px;
                background: #FFFFFF;
                box-shadow: 0px 4px 40px 0px #00000012;
                border-radius: 10px;

                .article__image {
                    width: 100%;
                    height: 204px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 10px 10px 0 0;
                    }
                }

                .article__content {
                    padding: 0 25px;

                    .article__title {
                        font-family: "Open Sans", sans-serif;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 24px;
                        color: #3F454A;
                        transition: all .3s ease;
                    }

                    .article__description {
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        margin-top: 10px;
                        font-family: "Open Sans", sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        color: #3F454A;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        transition: all 0.3s ease;
                    }

                    .article__button {
                        display: none;
                        font-family: "Open Sans", sans-serif;
                        font-size: 15px;
                        line-height: 26px;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: #D8AD3D;
                        text-decoration: none;
                    }
                }

                &:hover {
                    .article__content {
                        
                        .article__title {
                             color: #D8AD3D;
                        }

                        .article__description {
                            margin-bottom: 33px;
                        }

                        .article__button {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    @media (width <= 767px) {
        padding: 0 30px;

        .articles__content {
            flex-direction: column;
            align-items: center;
            gap: 25px;

            .articles__filter {
                width: 100%;
            }
    
            .articles__list {
                grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
                gap: 2rem;
                margin-top: 5px;
            }
        }
    }

    @media (768px <= width <= 1024px) {
        padding: 0 30px;

        .articles__content {
            flex-direction: column;
            align-items: center;
            gap: 25px;

            .articles__filter {
                width: 50%;
            }
    
            .articles__list {
                grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
                gap: 2rem;
                margin-top: 25px;
            }
        }
    }
}